

/*
	1-Comman Styles
	2-General Styles
	3-Section
		3.0 -Header Section
		3.1 -Home Section
		3.2 -About Section
		3.3 -Portofilo Section
		3.4 -Service Section
		3.5 -Price Section
		3.6 -Team Section
		3.7 -Blog Page
		3.8 -Contact Section
		3.9 -Footer Section

/* 
 	Comman
		-container
		-opacty hover
		-section header
		-section padding
		-hover effect 1(left to right)
		-hover effect 2(top to bottom)
 */
/* General css*/


/* General css*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* css3 */
}

body{
	font-family: 'Varela Round', sans-serif;

}
.container{
	width: 80%;
	margin: auto;
}
.clear{
	clear: both;
}
h1, h2, h3, h4, h5, h6{
	font-family: montserrat, sans-serif;

}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

button{
	font-family: inherit;
	text-transform: capitalize;

}
.hover-opacity{
	transition:opacity .5s;
}
.hover-opacity:hover{
	opacity: 0.8;
}

.ltr-effect, .tb-effect{
	position: relative;

}

.ltr-effect:after{
	width: 0;
	transition: width 0.5s;

}
.tb-effect:after{
	height: 0;
	transition: height .5s;
}
.ltr-effect:after, .tb-effect:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	z-index: -1;
}

.ltr-effect:hover:after{
	width: 100%;
}


.tb-effect:after{
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	z-index: -1;
	transition: height 0.5s;

}

.tb-effect:hover:after{
	height: 100%;
}

a{
	text-decoration: none;
}

.pd-y{
	padding: 120px 0;
}
.section-header{
	text-align: center;
	margin: auto;
}
.section-header .section-title{
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.section-header .line{
	display: block;
	height: 5px;
	width: 70px;
	margin:0  auto 70px auto;
	background-color: #6195ff;
}

 /* General Css*/




/* Header */
.header{
	position: fixed;
	width: 100%;
	z-index: 10;

}
.header-content{
/*	overflow: hidden;  to solve float problem
*/}

.header .logo{
	width: 40%;
	float: left;
}
.header .logo img{
	width: 20%;
	margin-top: 15px;
}
.header .nav{
	width: 60%;
	float: left;
	list-style: none;
	text-align: right;
}
.header .nav > li{
	display: inline-block;
	text-align: center;
}

.header .nav > li > a{
	color: #ffffff;
	text-decoration: none;
	padding:30px 15px;
	display: block;
	font-size: 15px;
}

.header .nav > li > a.active:after,
.header .nav > li > a:after{
	content: "";
	display: block;
	margin-top: 3px;
	width:0;
	height: 2px;
	background-color: #6195ff;
	transition: width 0.5s;
}
.header .nav > li > a.active:after{width: 100%;}
.header .nav > li > a:hover:after{
	width: 100%;

}
.dropdown{
	position: relative;
}
.dropdown-menu{
	position: absolute;
	background-color: #6195ff;
	width: 150px;
	text-align: center;
	padding: 10px;
	left: -50%;
	top: 120%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility;
}
.dropdown-menu a{
	color: #ffffff;
	display: block;
	padding: 10px;
}
.dropdwon:hover .dropdwon-menu{
	opacity: 1;
	visibility: visible;
}
/* Header */

/* Home Section*/
.home{
	height: 100vh;
	background-image: url(../images/background/background1.webp);
	background-size: cover; /*css3*/
	position: relative;
}

.home-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.home .title{
	color: #ffffff;
	font-size: 2.7rem;
	text-transform: uppercase;
	letter-spacing: 1;

}
.home .home-desc{
	margin: 10px 0;
	color: #ffffff;
	letter-spacing: 2px;
	line-height: 1.5;
}

.home .btn{
	min-width: 160px;
	padding: 15px 0;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	font-size: 18px;

}
.home .btn-start{
	margin-right: 10px;
	background-color: #ffffff;
}
.home .btn-end{
	background-color: #6195ff;
	color: #ffffff;
}


/* About Section*/
.About{

}

.about-content{
	overflow: hidden;
}
.about-item{
	width: 30%;
	float: left;
	text-align: center;
	border: 1px solid #cccccc;
	padding: 50px 20px;
}

.about-item:hover .about-item-title{
	color: #ffffff;
}
.about-item.mg{
	margin: 0 5%;
}
.about-item .icon{
	color: #6195ff;
	margin-bottom: 10px;
}

.about-item-title{
	text-transform: capitalize;
	margin-bottom: 10px;
	transition: color 0.5s;

}
.about-item-desc{
	line-height: 1.6;
	margin-bottom: 10px;
	color: #899999;
	
}
.about-item-link{
	color: #6195ff;
	text-transform: capitalize;
}
/* Portofolio Section*/
 .portfolio{
 	background-color: #f9f9f9;
 }
.portfolio-content{
	overflow: hidden;
}
.portfolio-item{
	position: relative;
	width: 30%;
	float: left;
	margin-bottom: 60px;
	padding: 20px;

}

.portfolio-item .layer-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s;
}
.portfolio-item:hover .layer-content{
	opacity: 1;
	visibility: visible;
}
.layer-content .layer-info{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	text-align: center;
	transform:translate(-50%, -50%); 
}
.layer-content .category{
	color: #6195ff;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
	position: relative;
	top: 10px;
	transition-delay: 0.4s;
}
.layer-content-title{
	font-size: 22px;
	color: #fff;
	margin-bottom: 10px;
	position: relative;
	top: 10px;

	transition: top 0.5s;
	transition-delay: 0.5s;
}

.layer-content  i{
	color: #ffffff;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #6195ff !important;
	transition: top 0.5s;
	transition-delay: 1s;
}

.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content-title i,
.portfolio-item:hover .layer-content-category{
	top: 0;
}


.portfolio-item.mg{
	margin: 0 5%;
}
.portfolio-item img{
	width: 100%;
}

/*offer Section*/
.offer{}

.offer-content{
	overflow: hidden;
}

.offer-item{
	width: 30%;
	float: left;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
	padding: 20px 15px 30px 70px;
	position: relative;
}
.offer-item.mg{
	margin:0 5%;
}
.offer-item .icon{
	position: absolute;
	left: 15px;
	top: 30px;
	color: #6195ff;
}
.offer-item-title{
	text-transform: capitalize;
	margin-bottom: 15px;
	transition: color .5s;
}
.offer-item-desc{
	text-transform: capitalize;
	margin-bottom: 15px;
	line-height: 1.6;
	color: #999;
	
}
.offer-item:hover, .offer-item-title:hover{
	color: #ffffff;

}

/* services section*/
.services{
	background-color: #f9f9f9;
}
.service-item{
	width: 50%;
	float: left;
}
.service-item .section-header{
	text-align: left;
}
.service-item .section-header .line{
	margin: 0 0 40px 0;
}
.service-item-desc{
	padding-right: 20px;
	color: #999;
	line-height: 1.4;
	font-size: 17px;
	margin-bottom: 20px;
}
.service-list{
	list-style: none;	
}
.service-list li{
	margin-bottom: 10px;
	color: #999;
}
.service-list li i{
	border: 1px solid #6195ff;
	color: #6195ff;
	width: 30px;
	height: 30px;
	padding: 7px;
	border-radius: 50%;
}
.service-item-img img{
	width: 100%;
}
.service-bolets{
	list-style: none;
	text-align: center;
}
.service-bolets li{
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #e8e8e8;
	margin: 10px 5px;
	border-radius: 50%;
	transition: .5s;
}
.service-bolets li.active{
	background-color: #6195ff;
}
.service-bolets li:hover{
	background-color: #6195ff;
}


/* numbers section*/
.numbers{
	position: relative;
	background-image: url("../images/background/background2.webp");
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
}
.numbers-item{
	overflow: hidden;
}
.number-item{
	width: 25%;
	float: left;
	text-align: center;

}

.number-item .icon{
	color: #6195ff;
	margin-bottom: 15px;
}
.number-item-title{
	font-weight: bold;
	font-size: 30px;
	color: #fff;
}

.number-item-text{
	color: #fff;
}





/* pricing section*/
.pricing{}

.pricing-plans{
	overflow: hidden;
}

.pricing-item{
	width: 30%;
	float: left;
	padding: 20px 15px;
	border:1px solid #e8e8e8;
	text-align: center;
	transition: color .5s;
}
.pricing-item.mg{
	margin: 0 5%
}

.pricing-item-text{
	text-transform: uppercase;
	font-size: 17px;
	color: #999;
}
.pricint-item-permonth{
	width: 130px;
	height: 130px;
	padding: 20px 0;
	margin: 20px auto;
	border: 2px solid #6195ff;
	border-radius: 50%;
}

.pricint-item-permonth .doller{
	font-size: 50px;
}

.pricint-item-permonth .month{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
}

.pricing-list{
	list-style: none;
}
.pricing-list li{
	color: #999;
	line-height: 1.8;

}

.pricing-item-purchase{
	border: 0;
	background-color: unset;
	border: 2px solid #6195ff;
	padding: 10px;
	margin: 20px auto;
	display: block;

}



/* Testimonial Section*/
.testimonial{
	position: relative;
	background-image: url(../images/background/background3.webp);
	background-attachment: fixed;
	height: 400px;
}
.testimonial-content{
	overflow: hidden;
	padding: 100px 0;
	margin: auto;
}
.testimonial-item{
	width: 50%;
	float: left;
	color: #ffffff;
}
.testimonial-item .testimonial-toplayer{
	padding:10px 2px 40px 100px;
	position: relative;
}
.testimonial-item .testimonial-toplayer img{
	position: absolute;
	top: 10px;
	border-radius: 50%;
}
.testimonial-item .testimonial-toplayer h2{
	    margin-left: 100px;
}

.testimonial-item .testimonial-toplayer span{
	color: #6195ff;
	margin-left: 100px;
}

.testimonial-desc{
	    line-height: 1.5;
    /* font-size: 17px; */
    margin-top: 24px;
    color: #ccc;
	
}

/* Team Section */

.team{}

.team-content{
	overflow: hidden;
}
.team-item{
	width: 30%;
	float: left;
	background-color: #e8e8e8;
	padding: 40px 10px;
	text-align: center;
}
.team-item.mg{
	margin: 0 5%;
}
.team-item .team-img{
	width: 90%;
	margin: auto;
	position: relative;
}
.team-item .team-img{
	width: 100%;
}
.team-overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
}
.team-overlay a{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #6195ff;
	color: #fff;
	margin-left: auto;
}
.team-overlay i{
	line-height: 40px;
}
.team-info .team-info-title{
	color: #777;
	padding: 10px 0;
}

.team-item:hover .team-overlay{
	visibility: visible;
	opacity: 1;
}

.team-item .tb-effect{
	z-index: 1;
}




/*Blog Section*/
.blog{
	background-color: #f8f8f8;
}
.blog-content{
	overflow: hidden;
}

.blog-item{
	width: 30%;
	float: left;
	background-color: #ffffff;
}
.blog-item.mg{
	margin: 0 5%;
}
.blog-item-img img{
	width: 100%;

}
.blog-info{
	padding: 20px;
}
.blog-list{
	list-style: none;
	margin: 10px 0;
}
.blog-list li{
	display: inline-block;
	margin: 0 5px;
}
.blog-list li i{
	color: #6195ff;
}
.blog-title{
	font-weight: bold;
	margin: 20px 0;
}

.blog-desc{
	color: #999;
	margin-bottom: 10px;
	line-height: 1.5;
}

.blog-link{
	color: #6195ff;
}


/* footer section*/
.footer{
	background-color: #1c1d21;
	text-align: center;
	padding: 60px 0;
}
.footer-links{
	list-style: none;
	margin: 20px 0;
}
.footer-links li{
	display: inline-block;
}
.footer-links li a{
	display: block;
	width: 50px;
	height: 50px;
	background-color: #6195ff;
	color: #ffffff;
	border-radius: 50%;
}
.footer-links li a i{
	line-height: 50px;
}

.footer .copyright{
	color: #999;
	font-size: 14px;
	text-transform: uppercase;
}












